name: Licenses

on:
  workflow_dispatch:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]

jobs:
  licences:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Install JS dependencies
        run: pnpm install --frozen-lockfile
      - name: Set up ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'
          bundler-cache: true
      - name: Bundle Install
        run: bundle install
      - name: Check Licenses
        uses: ONLYOFFICE/check-licenses@v1
        with:
          project_license: Apache-2.0
